@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle at top left, #2007a0, #001a65, #000000);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/* Header */
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    padding: 2rem 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

nav ul li a:hover {
    color: #fd1d75;
    font-weight: 500;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 40%;
    height: auto;
}

.toggle {
    display: none;
}

/* Main */
main {
    color: #FFF;
    width: 100%;
    padding: 2.5rem 0;
}

h1 {
    color: #fd1d75;
    font-size: 5rem;
}

button {
    color: #FFF;
    background-color: #fd1d75;
    border-radius: 2rem;
    transition: 0.3s ease;
    box-shadow: 0 0 4px #fd1d75,
                0 0 8px #fd1d75;
}

button:hover {
    cursor: pointer;
    background-color: #b3285f;
    color: #FFF;
    transition-duration: 0.5s;
    box-shadow: 0 0 6px #ff4da6,
                0 0 12px #ff4da6,
                0 0 20px #ff4da6;
    transform: scale(1.03);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 2rem 5rem;
}

.hero__content {
    width: 55%;
}

.hero__content h2 {
    color: #a9e4ee;
    padding: 0.5rem 0;
    font-size: 2rem;
}

.hero__buttons {
    flex-wrap: wrap; 
    gap: 0.8rem;      
    margin-top: 1rem;
}

.hero__buttons a {
    text-decoration: none;
    margin: 0; 
    padding: 0;
}

.hero__buttons button {
    margin: 0.8rem 0;
    padding: 0.7rem 2.5rem;
    font-size: 1.2em;
    font-weight: 600;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 5rem;
    background: linear-gradient(to right, #3ecdef, #2fa4d6, #1283f5);
    color: #000;
}

.about__text {
    width: 60%;
}

.about__text p {
    padding: 0.5rem 0;
}

.about img {
    border-radius: 100%;
    width: 30%;
    height: auto;
    padding: 0 2.5rem;
}

.journey__container {
    padding: 4rem 3rem;
    text-align: center;
}

.journey__container h2 {
    font-size: 2rem;
}

.journey__container a button {
    margin: 1.5rem 0;
    padding: 0.7rem 2.5rem;
    font-size: 1.2em;
    font-weight: 600;
}

.journey__timeline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
    position: relative;
}

.journey__timeline::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #fd1d75, #2ebbee);
    transition: 0.4s ease;
}

.journey__item {
    position: relative;
    padding-left: 3rem;
}

.journey__item::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 10px;
    width: 14px;
    height: 14px;
    background: #fd1d75;
    border: 0.1rem solid white;
    border-radius: 50%;
    transition: 0.4s ease;
}

.journey__timeline div {
    padding: 1rem;
    text-align: center;
}

.journey__timeline h4 {
    margin: 0 0 8px;
    font-size: 1.7rem;
    color: #a9e4ee;
}

.cards-container p {
    margin: 0;
    font-size: 1.2rem;
}

.projects {
    padding: 4rem 3rem;
    display: flex;
    justify-content: center;
}

.projects__list {
    width: 50%;
    font-size: 3rem;
    line-height: 0.9;
    color: #a9e4ee;
}

.period {
    font-size: 1rem;
}

.enterprise {
    font-size: 1rem;
    color: #fd1d75;
    margin: 0.8rem;
}

.box {
    background: linear-gradient(
        135deg,
        rgba(0, 123, 255, 0.25),
        rgba(0, 180, 255, 0.10)
    );
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.box p {
    text-align: left;
}

#faq {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
}

#faq h3 {
    font-size: 2rem;
    padding: 1rem 0;
}

hr {
    border-color: #a9e4ee;
    margin-top: 1rem;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0;
}

.cta__content img {
    width: 15rem;
    height: auto;
}

.cta__content h3 {
    font-size: 2rem;
    color: #a9e4ee;
    margin-left: 1rem;
}

.cta__content p {
    margin-left: 1rem;
    font-size: 1.2rem;
    width: 60%;
}

.cta__content button {
    margin: 1.5rem 0;
    padding: 0.7rem 2.5rem;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 1rem;
}

/* Footer */
footer {
    width: 100%;
    color: #FFF;
    text-align: center;
    padding: 2rem 1rem;
    background: linear-gradient(to right, #fda7e2, #3ecdef, #5479f7);
}

/* Fonts */
.tomorrow-extralight {
    font-family: "Tomorrow", serif;
    font-weight: 200;
    font-style: normal;
}

.tomorrow-light {
    font-family: "Tomorrow", serif;
    font-weight: 300;
    font-style: normal;
}

.tomorrow-regular {
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}

.tomorrow-medium {
    font-family: "Tomorrow", serif;
    font-weight: 500;
    font-style: normal;
}

.tomorrow-semibold {
    font-family: "Tomorrow", serif;
    font-weight: 600;
    font-style: normal;
}

.tomorrow-bold {
    font-family: "Tomorrow", serif;
    font-weight: 700;
    font-style: normal;
}

.tomorrow-extrabold {
    font-family: "Tomorrow", serif;
    font-weight: 800;
    font-style: normal;
}

.tomorrow-black {
    font-family: "Tomorrow", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

/* Media Queries */
@media (max-width: 1175px) {
    .about {
        flex-direction: column;
    }

    .about img {
        width: 20rem;
        height: auto;
        order: -1;
    }

    .about__text {
        text-align: center;
    }
}

@media (max-width: 955px) {
    .questions {
        flex-direction: column;
    }

    .questions__faq {
        font-size: 2rem;
    }

    #faq {
        padding-left: 0;
    }

    .questions__faq img {
        width: 20rem;
        height: auto;
    }

    .hero {
        flex-direction: column;
    }

    .hero img {
        width: 20rem;
        height: auto;
    }

    .hero__content {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .journey__container h2 {
        font-size: 1.5rem;
    }

    .journey__timeline {
        grid-template-columns: repeat(1, 1fr);
    }

    .cta {
        flex-direction: column;
        align-items: center;
    }

    .cta img {
        width: 20rem;
        height: auto;
    }

    .cta__content {
        text-align: center;
    }

    .cta__content p {
        width: 100%;
        margin: 0;
        padding: 1.5rem;
    }

    .cta__content img {
        width: 10rem;
        height: auto;
    }
}

@media (max-width: 683px) {
    html {
        font-size: 14px;
    }

    .about {
        padding: 2rem;
    }

    .about__text {
        width: 90%;
    }
}

@media (max-width: 542px) {
    .logo {
        text-align: center;
    }

    .toggle {
        display: block;
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    .bar__one,
    .bar__two,
    .bar__three {
        width: 100%;
        height: 5px;
        background-color: #FFF;
        margin: 5px auto;
        transition-duration: 0.3s;
    }

    html {
        overflow: scroll;
    }

    nav {
        display: none;
    }

    .active nav {
        display: block;
    }

    .active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #001a65;
    }

    .active,
    .toggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .active .toggle .bar__one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .active .toggle .bar__two {
        opacity: 0;
    }

    .active .toggle .bar__three {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    .active nav ul {
        text-align: center;
        display: block;
    }

    .active nav ul a {
        transition-duration: 0.5s;
        font-size: 2rem;
        line-height: 4rem;
        display: block;
    }

    .hero__content h1 {
        font-size: 3rem;
    }
}
